.home-main-container {
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.home-header-container {
  font-size: 8.3vw;
  padding: 20px 0 80px 0;
  line-height: 50px;
  font-weight: 400;
  font-family: "Sacramento"
}
.body-text-container {
  font-weight: bold;
  font-size: 2vw;
  padding-bottom: 30px;
}
.circle-container {
  display: flex;
  max-width: 800px;
  width: 460px;
  justify-content: space-evenly;
  margin: auto;
}
.circle-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(241, 78, 149, 0.8);
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.heart {
  color: rgba(241, 78, 149, 0.8);
  font-size: 8vw;
}
.circle-number {
  font-family: "Righteous";
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 18pt;
}
.circle-text {
  text-transform: uppercase;
  font-size: 10pt;
}
.link-container {
  margin-top: 70px;
}
.link-container > input[type="text"] {
  padding: 15px;
  border-radius: 5px;
  width: 250px;
  border: none;
  margin-right: 10px;
}
.link-container > a {
  text-decoration: none;
  background: rgba(241, 78, 149, 0.8);
  color:rgb(255,255,255);
  padding:10px 15px 14px 15px;
  font-weight: bold;
  border-radius: 5px;
}
.home-header-container > span, .body-text-container,.circle-item,.link-container {
  opacity: 0;
  position: relative;
}
@media (max-width: 376px) {
  .home-header-container {
    font-size: 12vw;
    margin-top: 40px;
    margin-bottom: 20px;
    padding:0;
  }
  .circle-container {
    flex-direction: column;
    width: 100px;
  margin: auto;
  }
  .circle-item {
    margin-bottom: 10px;
  }
  .body-text-container {
    font-size: 4vw;
    padding-bottom: 20px;
  }
  .link-container {
    margin-bottom: 50px;
  }
}