.rsvp-container {
  display: flex;
  flex-direction: column;
}
.rsvp-header{
  font-family: "Sacramento";
  font-size: 5vw;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}
.rsvp-body {
  text-align: center;
}
input, button, textarea {
  border: none;
  position: relative;
}
input#nama {
  width: 400px;
  font-size: 1vw;
  border-radius: 5px 0 0 0;
}
input#gelar {
  width: 100px;
  font-size: 1vw;
  margin-right: 0;
  border-radius: 0 5px 0 0;
}
#nama,#gelar {
  padding: 20px;
}
textarea {
  width:560px;
  height: 100px;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  font-size: 1vw;
}
button {
  width: 580px;
  padding: 20px 0;
  border-radius: 5px;
  margin-top: 10px;
  font-family: "KoHo";
  font-weight: bold;
  font-size: 1.3vw;
  color: rgb(255,255,255);
  background: rgba(241, 78, 149, 0.8);
}
.rejected-message {
  height: 20px;
  text-align: center;
  color: red;
  margin-top: 10px;
}
.qr-main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.qr-container {
  background: rgb(241, 78, 149);
  padding: 13px 5px 10px 5px;
  margin: auto;
  border-radius: 10px;
}
.qr-main-container h1 {
  line-height: 20px;
  margin: 0;
}
.qr-main-container p {
  max-width: 450px;
  margin: 30px auto;
}
@media(max-width:1024px) {
  textarea {
    width: 316px;
  }
  button {
    width: 337px;
  }
}
@media (max-width: 414px) {
  .rsvp-header {
    font-size: 9vw;
    margin-top: 15px;
  }
  .qr-main-container {
    margin-top: 25px;
  }
  .qr-header-container p {
    width: 300px;
    margin: 30px auto;
  }
  
  input#gelar, input#nama {
    font-size: 3vw;
  }
  input#nama {
    width: 195px;
  }
  input#gelar {
    width: 55px;
  }
  textarea {
    width: 310px;
    font-size: 3vw;
  }
  button {
    width: 332px;
    font-size: 4vw;
  }
}